*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Geologica", sans-serif;
}
.container-example2-restaurants{
    width: 100%;
    height: 800px;
    background-color: #ececec;
}
.row-example2-restaurants-title{
    width: 80%;
    height: 80px;
    margin: auto;
    text-align: center;
    color: #1c1c1c;
}
.row-example2-restaurants-explain{
    width: 50%;
    height: 150px;
    text-align: left;
    margin: auto;
    color: #414040;
}
p{
    height: 10px;
    text-align: left;
}